html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/darkness.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    color: #F2EB61;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #F2EB61
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(150deg, #F0F49E 0%, #09370F 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 3px 5px 7px 0 #F0F49E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #F0F49E;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #17202A;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #ffffff url('../img/darkness.png');
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.clock {
  color: #F2EB61;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #F2EB61;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.moves {
  color: #F2EB61;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the modal
 */

.modal {
  margin: auto;
  width: 40%;
  background: #17202A;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 65%;
  left: 50%;
  right: 50%;
  padding: 40px;
  background: #ffffff url('../img/darkness.png');
}

.modal-heading {
  padding: 0 1.5rem;
  border-bottom: 1px solid gray;
}

#modal-title {
  text-align: center !important;
  font-weight: bold;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

#starRating {
list-style: none;
display: inline-flex;
justify-content: space-between;
}

.button {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.replay {
  width: 60px;
  height: 30px;
  background-color: #F2EB61;
  color: #09370F;
}

.hide {
  display: none;
}
